.header1{
    font-weight: bold;
    font-size: xx-large;
    text-decoration-line: underline;
    
  
}

.cardg{
    text-shadow: 1px 1px #a1a1a1;
    background-color: #f1c83f !important;
    border: 2px solid #e7e7e7 !important;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.123);
    margin: 1.5rem;

}